.portable-hmtl-row{
    margin: 0 auto;
    border-radius: 12px;
    background-color: #000000;
    color: white;
    padding: 24px 16px 15px 21px;
    max-width: 350px;
    width: 100%;
}
.portable-hmtl-form-group {
    margin-bottom: 0.5rem;
}
.portable-hmtl-form-control {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 7px;
}
.portable-hmtl-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    text-align: left;
}
#event_section{
    width: 100%;
    display: none;
}
#event_section .portable-hmtl-form-group{
    float: left;
    width: 48%;
}
#event_section .portable-hmtl-event-at{
    margin-left: 4%;
}
.check-box-label{
    color:#F5BA3D;
    text-transform: uppercase;
}
.portable-hmtl-button-group{
    text-align: center;
}
.portable-hmtl-btn{
    outline: none;
    box-shadow: none;
    background-color:#F5BA3D;
    border:solid 1px #F5BA3D;
    padding:15px 50px;
    font-size:16px;
    color:#fff;
    cursor: pointer;
    border-radius:20px;
    margin-top: 15px;
    font-weight: bold;
}
#email_error{
    color: red;
}
#first_name_error{
    color: red;
}
.portable-hmtl-success-container{
    margin-top: 150px;
}
.portable-hmtl-success-message {
    padding: 42px;
    text-align: center;
    font-size: 22px;
    color: green;
}
#privacy_policy_link_show{
    line-height: 15px;
    margin: 0px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
}
#privacy_policy_link_show a{
    color:#ccc;
}

/*
For Contact Us Section
*/
textarea.portable-hmtl-form-control-message {
    display: block;
    width: 100%;
    height: 116px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 7px;
}