@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: 'abadi-regular';
    src: url('../fonts/AbadiMTStd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: 'abadi-bold';
    src: url('../fonts/AbadiMTStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: 'abadi-extraBold';
    src: url('../fonts/AbadiMTStd-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:800;
    font-style: normal;
}
@font-face {
    font-family: 'abadi-light';
    src: url('../fonts/AbadiMTStd-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-Light.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:300;
    font-style: normal;
}

.datepicker{ z-index:99999 !important; }

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
nav.navbar {
    display: none;
}
input[type="file"] {
    margin-top: 8px;
}
th{
    color: #337ab7;
    font-family: "abadi-light";
    font-size: 16px;
    outline: none;
    padding: 8px;
    border-bottom: 1px solid #dee2e652;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle!important;
}
td{
    /*font-size: 17px;*/
    color:#000;
}
/*header area start*/
.mobile-menu{
    text-align: right;
    display: none;
    transition: 0.8s;
    padding: 10px 0px;
}
.mobile-menu button{
    background-color: transparent;
    border: none;
    margin-right: 30px;

}
.mobile-menu button:focus{
    outline: none;
}
.mobile-menu button svg{
    color:#fff;
    font-family: "Font Awesome\ 5 Free";
    font-size: 28px;
}
ul.main-menu{
    padding-left: 0px;
    list-style: none;
    margin-left: 15px;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
}
ul.main-menu>li{
    display: inline-block;
    transition: 0.8s;
    margin-right: -4px;
}
ul.main-menu>li>ul li{
    border-bottom: 1px solid #fff;
}
ul.main-menu>li>ul>li {
    position: relative;
}
ul.main-menu>li>ul li a{
    font-size: 15px;
}
ul.main-menu>li>ul {
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
    background: #4677ba;
    display: none;
    width:208px;
    border-top: 3px solid #4677ba;
}

ul.main-menu li:hover>ul {
    display: block;
    z-index:1;
}
ul.main-menu>li:hover>ul>li>ul{
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
    top: 0px;
    left: 208px;
    background: #4677ba;
    display: none;
    width: 200px;
}
ul.main-menu>li:hover>ul>li:hover>ul {
    display: block;
    z-index:1;
}

ul.main-menu li a{
    padding: 12px 20px;
    color: #fff;
    font-family: "abadi-regular";
    font-size: 18px;
    text-decoration: none;
    transition: 0.8s;
    line-height: 20px;
    display: block;
}
ul.main-menu li:hover{
    background-color: #4ac6e9;
    transition: 0.8s;
    color: #fff;
}
ul.main-menu li.active>a{
    background-color: #4ac6e9;
    color: #fff;
    text-decoration: none;
}
svg.svg-inline--fa.fa-arrow-down.fa-w-14 {
    margin-left: 5px;
    font-size: 12px;
}
svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
    margin-right: 5px;
    font-size: 12px;
    display: none;
}

h3.menu_header {
    font-size: 20px;
    color: #4677ba;
    margin: 38px 0px;
    line-height: 22px;
}

.logo img {
    margin: 15px 0;
}

.menu_header,.header_links{
    color:#333333;
    font-family: "abadi-regular";
    font-size: 14px;
}
.content-wrapper {
    min-height: 78vh;
}
.breadcrumb{
    margin-top: 10px;
}
.dropdown-toggle span.caret {

}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border: none;
    box-shadow: none;
    padding: 0;
}
.navbar-expand-md .navbar-nav .dropdown-menu li a {
    background: #4677ba;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #cac7c7;
    font-family: "abadi-regular";
    display: block;
}
.navbar-expand-md .navbar-nav .dropdown-menu li a:hover{
    background: #4AC6E9!important;
    color: #fff!important;
    transition: 0.8s all;

}
.navbar-expand-md .navbar-nav .dropdown-menu li:last-child a{
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}
nav.cus_navbar ul.navbar-nav > li.open > a {
    background: #4ac6e9;
    color: #fff;
}
nav.cus_navbar ul.navbar-nav > li.active > a{
    background: #4AC6E9;
    color: #fff;
}
.header_links{
    float: right!important;
}
.header_links > ul > li.active > a{
    background: #4AC6E9!important;
    color: #fff!important;
}
.header_links>ul{
    margin:25px 0px;
    padding: 0;
    display: block;
}
.header_links>ul>li{
    text-align: right;
    display: inline-block;
    margin-top: 4px;
}
.header_links>ul>li>a{
    background-color: #4677ba;
    color:#fff;
    float: right;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 3px;
    text-decoration: none!important;
}
.header_links>ul>li>a:hover{
    text-decoration: none;
    background-color: #4ac6e9;
    color: #fff;
    transition: 0.3s;
}
.header_links>ul>li:last-child > a {
    margin-right: 0;
}
.header_links ul li button.btn.btn-link.logout{
    background-color: #4677ba;
    color:#fff;
    float: right;
    padding: 8px 20px;
    margin-left: 0px;
    border-radius: 3px;
}
.header_links ul li button.btn.btn-link.logout:hover{
    text-decoration: none;
    background-color: #4ac6e9;
    color: #fff;
    transition: 0.3s;
}
.header_links .dropdown-menu li a {
    border-bottom: 1px solid rgba(74,198,233,0.3);
    border-radius: 0px;
    color:#fff;
    padding: 10px;

}
.header_links .dropdown-menu li a:hover {
    color: #fff;
    transition: 0.8s;
    background-color: #4ac6e9;
}
.dropdown-menu > li > a:focus {
    color: #fff!important;
    text-decoration: none;
    background-color: #4ac6e9!important;
}
.header_links .dropdown-menu li:last-child a{
    border-bottom: none;
}
.upper .header_links .dropdown-menu{
    background-color: #4677ba;
    padding: 0px;
    border-radius: 3px;
    box-shadow: none;
    left: -20px;
    margin: 0px!important;

    border-left: 3px solid #4ac6e9;
    
    top:36px;
}
.header_links>ul>li>a:focus {
    background-color: #4ac6e9;
    color: #fff;
}
.lower{
    background-color: #4677ba;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar.cus_navbar{
    padding: 0px 0px;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    border: none;
}
.navbar.cus_navbar .navbar-header .navbar-brand{
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    transition-timing-function: ease-out;
}
nav.cus_navbar li{
    transition: 0.8s;
}
nav.cus_navbar ul.navbar-nav > li > a{
    padding: 12px 20px;
    color: #fff;
    font-family: "abadi-regular";
    font-size: 18px;
    text-decoration: none;
    transition: 0.8s;
    line-height: 20px;
}
nav.cus_navbar ul.navbar-nav > li > a:hover {
    background-color: #4ac6e9;
    transition: 0.8s;
    color: #fff;
}
nav.cus_navbar ul.navbar-nav > li > a:hover .caret{
    transform: scale(1.2,1.2);
    transition: 0.8s;
}
nav.cus_navbar ul.navbar-nav > li > a:focus {
    background-color: #4ac6e9;
    transition: 0.8s;
    color: #fff;
}
.upper ul li:first-child svg {
    line-height: 10px;
    transition: 0.8s;
    margin-left: 5px;
}
.upper ul li:first-child a:hover svg {
    transform: rotate(90deg);
    transition: 0.8s;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4677ba;
    min-width: 190px;
     transition: 0.3s;
     border-top:3px solid #4ac6e9;
     transition-timing-function: ease-out;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1111;
}
.dropdown-content li{
    transition: 0.5s;
}

.dropdown:hover .dropdown-content {
    transition: 0.3s;
    display: block;
    transition-timing-function: ease-out;
    list-style-type: none;
    padding-left: 0px;
     z-index: 1111;
    /*border: 1px solid rgba(9,82,151,0.3);
    border-top:none;*/
}
.dropdown-content a li{
    border-bottom: 1px solid rgba(74,198,233,0.3);
    padding: 5px 0px;
    padding-left: 20px;
    
}


.dropdown-content a{
    color:#fff;
    font-family: "abadi-regular";
    font-size: 16px;
    
    text-decoration: none;
    padding: 5px 0px;
    
    
}
.dropdown-content a:last-child li{
    border-bottom: none;
}
.navbar button svg{
    color:#fff;
}
.navbar button:focus{
    outline:none;
}
.cus-nav-link:hover{
    background-color:#fff; 
}
.cus-nav-link:hover a.nav-link{
    color:#4577B7;
}
.dropdown-content li:hover{
    background-color:#fff; 
}
.dropdown-content a:hover{
    color:#4677ba;
}






/*header area end*/

/*dashboard section start*/

.login_content .input-group-prepend {
    position: absolute;
}
.login_content {
    text-align: center;
}

.cus_input_box:focus {
    border-color: #4ac6e9;
}
.login_content .cus_input_btn {
    width: 70%;
}
.footer_wrapper {
    text-align: center;
}
.dashboard_items{
   padding: 40px 0px;
}

.single-item.panel.panel-primary {
    border-color: #dcdfe4!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -1px 3px 12px 0px #00000017;
    border: 0;
}
.single-item .item_heading.panel-heading {
    border-radius: 0;
    background: #4677ba!important;
    border: 0;
    color: #484343;
    margin-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.item_heading{}
.item_heading h3 {
    font-size: 16px;
    font-family: "abadi-bold";
    margin: 0px;
    padding: 5px;
    text-transform: uppercase;
    /* text-align: left; */
    color: #fff;
}
.item_list{}
.item_list ul{
    padding: 0px;
    margin: 0px;
}
.item_list ul li {
    list-style: none;
    display: block;

}
.item_list ul li a{
      font-size: 16px;
    font-family: "abadi-regular";
    font-weight: 500;
    display: block;
    padding: 8px 15px;
    color: #5f656b;
    border-bottom: 1px solid #e1e5e8;
    text-transform: capitalize;
    transition: .4s;
        

}
.item_list ul li:last-child a{
    border: 0px;
}
.item_list ul li a:hover{
text-decoration: none;
color: #4ac6e9;
border-left: 5px solid #4ac6e9;

}

.panel-body.padding_zero {
    padding: 0;
}

.site-index.custom_bg {
    background: #F8F9FB;
}

.for_items{
    margin-bottom: 40px;
    width: 100%;
}
a.dashboard_links{
    text-decoration: none !important;
}
a.dashboard_links:hover .single_item{
    border-color:#4ac6e9;
}
a.dashboard_links:hover svg{
    background-color: #4ac6e9;
    
}
a.dashboard_links path{
    fill:#fff;
}
a.dashboard_links:hover path{
    fill:#ffffff;
}

a.dashboard_links:hover .item_text{
    background-color:#4ac6e9;
}

.alert-success.alert.fade.in button.close {
padding: 0;
color: #222;
}
.item_logo{
    padding: 50px 0px;
}

.single_item{
    border:1px solid #4677ba;
    border-radius: 3px;
}
.item_text{
    background-color: #4677ba;
}
.item_logo svg {
    font-size: 55px;
    color: #ffffff;
    background-color: #4677ba;
    padding: 18px;
    height: 80px;
    width: 80px!important;
    border-radius: 50%;
}
.item_text h5 {
    color: #fff;
    font-size: 15px;
    font-family: "abadi-light";
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    outline: none;
    letter-spacing: 1.5px;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 15px 0px;
}



/*dashboard section end*/



/*quotes section start*/

#quotes{
    background-color: #2c3d50;
}
.quote_content span{
    color:#fff;
    font-family: "abadi-regular";
    font-size: 23px;
    margin-bottom: 0px;
}
.quote_content svg{
    color:#fff;
    font-size: 14px;
}
.quote_content{
    padding: 50px 0px;
}
.quote_content svg .fas-quote-left:before {
    
}
.quote_content svg .fas-quote-right:before {
    
}
.quote_content span:before {
    content: "\f10d";
    font-size: 16px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    margin-right: 7px;
    position: relative;
    top: -7px;
}
.quote_content span:after {
    content: "\f10e";
    font-size: 16px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-left: 7px;
    position: relative;
    bottom: -7px;
}

/*quotes section end*/

footer{
    background-color: #4677ba;
    padding: 15px 0px;
}
footer p{
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
}
a.footer_link{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
}
table.system-info-details-view th {
    width: 35%;
}
table.system-info-details-view td {
    width: 35%;
}
#index_page{
    
}

.logo_area{
    height: 91.8vh;
    position: relative;
    
}
.logo_area img{
    position: absolute;
    /* top: 50%; */
    /* -webkit-transform: translateY(-50%); */
    -ms-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    left: 0;
    right: 0;
    top: 40vh;
    margin: 0px auto;
}
.footer_area{
    background-color: #4677ba;
    padding: 15px 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer_area p{
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
}

.footer_area .footer_link{
    color:#fff;
}



.cus_input{
    max-width: 400px;
    margin: 0px auto;
}


.login_form_inner{
    padding: 50px;
    z-index: 11;
    /* background-color: rgba(74,198,233,0.3); */
    position: absolute;
    left: 0;
    right: 0;
    top: 15vh;
    margin: 0px auto;
    border-radius: 3px;
    /*max-width: 400px;*/
    border:1px solid #4ac6e9;
    /*background-color: #fff;*/
    background-color: rgba(74,198,233,1);
    box-shadow: 0 0 18px 2px rgba(0,0,0,.2);
}
.login_form_inner:before {
    position: absolute;
    content: "";
    max-width: 95%;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0px auto;
    height: 100%;
    border-top: 15px solid rgba(74,198,233,0.3);
    border-radius: 3px;

}
.login_form_inner:after {
    position: absolute;
    content: "";
    max-width: 90%;
    left: 0;
    right: 0;
    top: -28px;
    margin: 0px auto;
    height: 27px;
    /* border-top: 15px solid #4ac6e9; */
    border-radius: 3px 3px 0px 0px;
    background-color: rgba(74,198,233,0.3);
}

.input_icon{
    background-color: #fff;
    border-color: rgba(74,198,233,0.7);
    border-right: none;
    box-shadow: none;
}
.input_icon svg{
    color:rgba(74,198,233,1);
}



.login_form{
    font-family: "abadi-light";
}
.cus_input_btn{
    font-family: "abadi-regular";
    font-size: 16px!important;
    color:rgba(74,198,233,1)!important;

}


.cus_input_box{
     border-color: rgba(74,198,233,0.7);
     border-left:none;
}
.cus_input_box:focus{
    outline: none;
    box-shadow: none;
    border-color:  rgba(74,198,233,0.7);
    /*border-color:#4677ba;
    border-left-color: rgba(74,198,233,0.7);*/
}

.cus_input_btn{
    /*background-color: rgba(74,198,233,0.7);*/
    background-color: #fff;
}

.cus_input_btn:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff ;
    color: rgba(74,198,233,1);
}
.cus_input_btn:focus{
    border-color:#4677ba;
}

.login_header{
    height:91.8vh;
    position: relative;
}
.login_footer{
    /*padding: 15px 0px;*/
    z-index: 0;
    position: relative;
}
.login_footer p{
    color: #fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    /*bottom: 13px;*/
    z-index: 1;
    top: 35%;
}



.form_box2{
    position: relative;
}
.form_box2:before {
    position: absolute;
    content: "";
    max-width: 95%;
    left: 0;
    right: 0;
    /* top: 10px; */
    top: 14px;
    margin: 0px auto;
    height: 100%;
    border-top:none;
    border-bottom: 13px solid rgba(74,198,233,0.3);
    border-radius: 3px;
}
.form_box2:after {
    position: absolute;
    content: "";
    max-width: 90%;
    left: 0;
    right: 0;
    top: 264px;
    margin: 0px auto;
    height: 27px;
    /* border-top: 15px solid #4ac6e9; */
    border-radius: 0px 0px 3px 3px;
    background-color: rgba(74,198,233,0.3);
}

.logo_for_login img{
    padding-top: 38px;
}


.form_box3{
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}
.form_box3 .cus_input_btn{
    border:none;
    background-color: rgba(74,198,233,1);
    color: #fff!important;
} 
.login_footer{
    height:8.2vh;
}


#login_wrapper {
    background: url(../images/version_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: "abadi-light";
}
#login_wrapper:before{
    position: absolute;
    content:"";
    background-color:rgba(70, 119, 186, 0.95);
    width:100%;
    height: 100%;
    left:0;
    right:0;
    bottom: 0px;
    z-index: -1;
}

.login_content{
    max-width: 450px;
    margin: 0px auto;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top:15%;
    border-color: #ddd;
    background-color: #fff;
    box-shadow: none;
    padding: 35px 0px;
    border-radius: 3px;
    font-family: "abadi-light";
}
a.form_links{
    text-decoration: none;
    color:rgba(70,119,186,1);



}
a.form_links:hover{
    color: rgba(74,198,233,1);
}

.login_content .cus_input_btn:before{

}

.login_content .cus_input_btn {
    max-width: 400px;
    margin: 0px auto;
    background-color: rgba(70,119,186,1);
    color: #fff!important;
    margin-bottom: 20px;
    padding: 18px 30px;
    line-height: 4px;
    border: none;
    border-radius: 3px!important;
    width: 100%;
}
.field-loginform-rememberme label {
    text-align: left !important;
    display: block;
    margin-left: 25px;
}
.login_content .cus_input_btn:hover{
    background-color: rgba(74,198,233,1);
}
.footer_wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer_wrapper p{
    color:#fff;
    font-size: 14px;

}
.footer_wrapper a{
    text-decoration: none;
    color:#fff;
}

.site_logo{
    margin-bottom: 45px;
    position: relative;
}

.login_content .cus_input_box {
    border: none;
    border-bottom: 1px solid rgba(70,119,186,1);
    border-radius: 0px;
    margin-bottom: 14px;
    position: relative;
    width: 92%;
    margin-left: 25px;
}
.login_content p.help-block.help-block-error {
    color: red;
    text-align: left;
}
.cus_input_box:focus{
    border-color: transparent;
}

.cus_input_box::placeholder{
    text-transform: uppercase;
}

span.login_style{
    position: absolute;
    /* background: rebeccapurple; */
    left: 29px;
    height: 100%;
    width: 0;
    border-bottom: 2px solid rgb(74,198,233);
    top: -20px;
    transition: 0.5s;
}

#login_wrapper .form-control:focus + span.login_style{
       position: absolute;
    /* background: rebeccapurple; */
    left: 29px;
    height: 100%;
    width: 85%;
    border-bottom: 2px solid rgb(74,198,233);
    top: -20px;
    transition: 0.5s;

}

#login_wrapper .input_icon {
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
}
#login_wrapper .input_icon svg {
    color: rgba(70,119,186,1);
}
#login_wrapper .input_icon svg .form-control:focus{
    color:rgba(74,198,233,1)!important;
}




nav.navbar.navbar-expand-md.cus_navbar .navbar-header{
    margin: 0px auto;
}



.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

input.form-control {
    border-radius: 0px;
}
input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #4677ba;
}

a.btn {
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #4677ba;
    border-color: #4677ba;
}
a.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
.admin-grid-view {
    overflow-x: auto;
    margin-top: 10px;
}
.grid-view {
    overflow-x: auto;
}
.grid-view table tbody tr td:last-child{
    width: 100px;
}
table tr td select {
    height: 34px;
}

input, optgroup, select, textarea{
    border-radius: 0 !important;
}

table.table-striped.table-bordered tbody td a {
    display: inline-block;
    margin:0px 2px;
}

table.table-striped.table-bordered tbody td a[title="View"]{
    background-color: #4677ba;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
}
table.table-striped.table-bordered tbody td a[title="View"]:hover{
    background-color: #305282;
    transition: 0.5s;
}
table.table-striped.table-bordered tbody td a[title="Interaction"]{
    background-color: #4677ba;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
}
table.table-striped.table-bordered tbody td a[title="Interaction"]:hover{
    background-color: #305282;
    transition: 0.5s;
}

table.table-striped.table-bordered tbody td a[title="Update"]{
    background-color: #4ac6e9;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
}
table.table-striped.table-bordered tbody td a[title="Update"]:hover{
    background-color: #44b4d4;
    transition: 0.5s;
}
table.table-striped.table-bordered tbody td a[title="Edit"]{
    background-color: #4ac6e9;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
}
table.table-striped.table-bordered tbody td a[title="Edit"]:hover{
    background-color: #44b4d4;
    transition: 0.5s;
}
table.table-striped.table-bordered tbody td a[title="Delete"]{
    background-color: #c73f3f;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
}

table.table-striped.table-bordered tbody td a[title="Delete"]:hover{
    background-color: #9e3434;
    transition: 0.5s;
}
.grid-action-column {
    width: 100px;
}


.grid-view table.table.table-striped.table-bordered thead tr th{
    font-family: "abadi-light";
    font-size: 16px;
    color:#000;
    outline: none;
    padding: 8px;
    border-bottom: 1px solid #dee2e652;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle!important;
}

.grid-view table.table.table-striped.table-bordered tbody tr td, .grid-view table.table.table-striped.table-bordered thead tr th {
    border: 1px solid #ddd;
}
table{
    margin-bottom: 0px;
}
.grid-view table.table.table-striped.table-bordered tbody tr td{
    font-size: 17px;
   /* font-family: "abadi-light";*/
    padding: 7px 6px;
    vertical-align: middle!important;
}
.users-index .table-striped thead tr:nth-of-type(even) td{
    background-color: #e7f2f5;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(247, 247, 247)!important;
}
.summary{
    font-family: "abadi-light";
    display: none;
}
.page-header {
    margin: 0px!important;
    padding: 0px!important;
}
.form-group button[type="submit"]{
    margin-right: 10px;
}


button.btn,a.btn{
    color: #fff;
    background-color: #4677ba;
    border-color: transparent;
    padding: 6px 20px;
}
button.btn:hover,a.btn:hover{
    background-color: #4ac6e9;
    border-color: transparent!important;
    transition: 0.5s;
    color:#fff!important;
}
button.btn:focus,a.btn:focus{
    background-color: #4ac6e9;
    border-color: transparent;
    box-shadow: none;
    outline:none;
}
button.btn:active,a.btn:active{
    background-color: #4ac6e9!important;
    border-color: transparent;
    box-shadow: none;

}
.btn.btn-danger{

    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

}
.btn.btn-danger:hover,.btn.btn-danger:active,.btn.btn-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.admin-form-button button {
    margin-right: 20px;
}
.form-control:focus{
    border-color:#4677ba;
    box-shadow: none!important;
}
.has-error .form-control:focus {
    box-shadow: none;
}
.form-control option{
    color:#000;
    font-family: "abadi-regular";
}
label{
     font-family: "abadi-bold";
    font-size: 14px;
}
h1,h2{
    font-family: "Montserrat-Regular"!important;
    margin: 30px auto!important;
    text-align: center!important;
}
.breadcrumb {
    font-family: "abadi-light";
    padding: 12px 15px;
    font-size: 16px;
}
.login_content .cus_input_box:focus{
    border-bottom-color:#4ac6e9;
    transition: 0.5s;
}

.dropdown-submenu ul {
    list-style-type: none;
    display: none;
    padding-left: 0px;
    border-top:3px solid #4ac6e9;
    border-left: 1px solid rgba(74,198,233,0.3)!important;
    min-width: 160px;
}
.dropdown-submenu ul li {
    background: #4677ba;
    border-bottom: 1px solid rgba(74,198,233,0.3);
    display: block;
}
.dropdown-submenu ul li a {
    border-bottom: none!important;
    padding: 0px!important;
    text-decoration: none;
    display: block;
    padding: 10px!important;
}
.dropdown-submenu ul li a:hover {
    background: #4AC6E9;
    color: #fff;
    transition: 0.8s all;
    cursor: pointer!important;
        
}
li.dropdown-submenu:focus{
    outline: none;
}
.dropdown-submenu a:focus {
    color: #4677ba!important;
    outline: none;
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu ul {
    position: absolute;
    top: 0px;
    left: 100%;
    min-width: 160px;
}
.navbar-expand-md .navbar-nav .dropdown-menu{
    border-top:3px solid #4ac6e9;
    margin-top: 0px;
    border-radius: 0px!important;
    min-width: 180px;
}
.navbar-expand-md .navbar-nav .dropdown-menu li a:hover {
    background: #fff;
    color: #4677ba;
}
.navbar-expand-md .navbar-nav .dropdown-menu li a {
    border-bottom: 1px solid rgba(74,198,233,0.3);
    text-decoration: none;
    border-radius: 0px!important;
    font-size: 14px;
}
.navbar-collapse {
    padding-right: 0px!important;
    padding-left: 0px!important;
    box-shadow: none!important;
}

.dropdown-submenu>a {
    position: relative;
}
.dropdown-submenu>a:before {
    position: absolute;
    content: "\f0da";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    right:15px;
}
.dropdown-submenu:hover>a:before {
    transform: scale(1.2,1.2);
    transition: 0.5s;
}
.header_links .dropdown-submenu ul {
    border-top: 1px solid #4ac6e9;
    border-bottom: 1px solid #4ac6e9;
    border-left: 3px solid #4ac6e9!important;
}
.header_links .dropdown-submenu:hover ul {
    top: 0px;
}

.header_links{
    text-align: right;
}
footer.footer p:first-child{
    text-align: left;
    padding: 0px;
}
footer.footer p:last-child{
    text-align: right;
    padding: 0px;
}

svg#Capa_1 {
    width: 51px;
}

.divider {
    height: 3px;
    margin: 15px -15px;
    overflow: hidden;
    background-color: #4677ba;
    clear: both;
    display: block;
}
.vertical-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.admin-grid-toolbar{
    clear: both;
    margin: 10px 0;
    overflow: hidden;
    display: block;
}
.admin-grid-toolbar .admin-grid-toolbar-left{
    float: left!important;
}
.admin-grid-toolbar .admin-grid-toolbar-left p{
    margin: 10px 0;
}
.admin-grid-toolbar .admin-grid-toolbar-right{
    float: right!important;
}
.admin-search-form-fields .col-sm-4.field-developmentssearch-development_name input {
    width: 100% !important;
    display: inline;
}

/********* Bootstrap Overwrite CSS *******/
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #4677ba !important;
    border-color: #337ab7 !important;
    font-size: 17px;
    font-family: "abadi-regular";
    position: relative;
}

.panel-primary {
    border-color: #4677ba !important;
}

.permission-drop-down-role {
    /*margin-right: 20px;*/
}
.panel-heading-button {
    float: right;
    position: absolute;
    top: 2px;
    right: 5px;
}
button#push-to-connect {
    margin-bottom: 15px;
}

/* ANIMATED X */
/*.navbar-toggle .icon-bar.second {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 40% 10%;
    -ms-transform-origin: 40% 10%;
    transform-origin: 40% 10%;
    transition: 0.8s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);

}

.navbar-toggle .icon-bar.last {
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    -webkit-transform-origin: 20% 90%;
    -ms-transform-origin: 20% 90%;
    transform-origin: 20% 90%;
    transition: 0.8s;
}*/

/* ANIMATED X COLLAPSED */
/*.navbar-toggle.collapsed .icon-bar.second {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: 0.8s;
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar.last {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: 0.8s;
}*/
/* END ANIMATED X */

.developer-heading{
    margin: 0px!important;
}
.developer-heading h3{
    margin: 0px!important;
    text-transform: uppercase;
    font-weight: bold;
}
.developer-status-details p {
    margin: 0px!important;
}
.developer-name{
    
    text-align: left;
    color: #000;
    font-family: "abadi-bold";
}
.developer-grade{
    
    text-align: center;
    color: #000;
    font-family: "abadi-light";
}
.developer-id{
    
    text-align: right;
    color: #000;
    font-family: "abadi-light";

}
.grade-value{
    font-weight: bold;
    color:#4677ba;
}

.developer-status-details p{
    font-family: "abadi-regular";
    font-size: 16px;
}
.tabs{
    margin-bottom: 0px;
    margin-left: 30px;
}

.tabs>ul{
  list-style-type: none;
  padding-left: 0;
  position: relative;
  margin-bottom: 0;
}
/*.tabs>ul:after{
  position: absolute;
  content: '';
  left: 0;
  right:0;
  bottom:-4px;
  width: auto;
  border-bottom:2px solid #eee;
  z-index: -1;
}*/
.tabs>ul>li{
  display: inline-block;
  
  position: relative;
  border-right:1px solid #ddd;
  
}
/*.tabs>ul>li:hover>a{
    color:#4ac6e9;
}*/


.tabs>ul>li.isActive:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    bottom: -2px;
    transition: transform 0.4s ease, width 0.4s ease;
    border-bottom: 2px solid white;
}
.tabs>ul>li>a{
  text-decoration: none;
  /*text-transform: uppercase;*/
  color:#000;
  padding: 10px 12px;
  font-size: 16px;
  transition: all 0.4s;
  display: block;
}
.tabs>ul>li.isActive{
    background-color: #fff;
}
.tabs>ul>li{
    background-color: #eee;
    border-top:1px solid #a9a9a9;
    border-right:1px solid #a9a9a9;
}
.tabs>ul>li:first-child{
    border-left:1px solid #a9a9a9;
}
.tabs>ul>li:hover{
    background-color: #fff;
}
/*.tabs>ul>li:hover:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #4ac6e9;
    width: auto;
    left: 0;
    right: 0;
    bottom: -2px;
    transition: transform 0.4s ease, width 0.4s ease;
}*/
.tabs>ul>li.isActive:hover:after {
    border-bottom: 2px solid #fff;
}
.tab_section{
    overflow-x: auto;
    min-height: 350px;
    
}
.tab-details {
    padding: 15px;
    border:1px solid #a9a9a9;
}
.contact-name,.contact-number,.contact-email{
    text-align: center;
}
.contact-name>p,.contact-number>p,.contact-email>p{
    font-size: 19px;
}
.button_group .row{
    margin: 0px;
}
.update_btn{
   /* margin-top: 20px;*/
    text-align: center;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 30px;
  background-color: transparent;
  border-radius: 2px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header{
    padding: 0!important;
}
.col-md-3.show-status {
    margin-top: 19px;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 0;
  position: relative;
  background: #eee;
  border-radius: 0px 0px 2px 2px;
  /*min-height: 445px;*/
}
div.modal-body>div {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
}


.modal-default-button {
    /*float: right;
    background: #d8544f;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    height: 30px;
    width: 30px;
     border-radius: 50%; */
    /*position: absolute;
    bottom: 53px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
*/
    position: absolute;
    bottom: 51px;
    left: 270px;
    right: 0;
}
.modal-header{
    border:none!important;
}
.modal-footer{
    border:none!important;
}
.modal-body .form-group {
    margin-bottom: 0px;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#app3 .container button.fullscreen-toggle {
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    margin: 10px 0px;
    text-align: right;
    /*width: 100%;*/
    color: #4677ba;
    padding: 0;
    margin-left: 15px;
    
}
.modal-header {
    background-color: #4677ba!important;
    color: #fff!important;
    border-radius: 2px 2px 0px 0px;
    text-align: center;
}
.modal-header h4{
    margin-left: 15px!important;
}
button.close {
    color: #fff;
    opacity: 1;
}
button.close {
    padding: 10px 20px;
    margin: 0 auto!important;
    text-shadow: none;
    font-size: 20px;
}
/*.modal-body a.btn.btn-danger {
    display: none;
}*/
.modal-header .close {
    margin-top: 0px;
}
.modal-content {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;

}
button.close:hover, button.close:focus {
    color: #fff;
    opacity: 1;
    background-color: #c9302c;
    transition: 0.4s;
}
/*.modal label.control-label {
    text-align: left;
    width: 100%;
}*/
.modal.in .modal-dialog {
    min-width:700px;
}

/*#app3 .container button.fullscreen-toggle:before{
    content: "Go fullscreen ";
    font-family: "abadi-light";
    color:#000;
    font-size: 18px;
    text-transform: uppercase;
    margin-right:10px;
} */
#app3 .container button.fullscreen-toggle:after {
    content: "\f065";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    vertical-align: middle;
}
#app3 .container button.fullscreen-toggle:hover {
    color:#4ac6e9;
    transition: 0.4s;
}
#app3 .container.fullscreen button.fullscreen-toggle:after {
    content: "\f066";
    
}
.fullscreen-breadcrumb-btn {
    position: relative;
}
#app3 .container p.fullscreen-instruct{
    font-color:#000!important;
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: -12px;
    right: 20px;
}
.admin-grid-toolbar .permission-drop-down-role button {
    margin-left: 0px!important;
    margin-top: 20px;
    float: left;
}
#toolbar-new.btn-wrapper {
    margin-top: 3px;
}
.fade.modal .modal-dialog{
    opacity: 0;
    transition: opacity .3s ease;
    transform: scale(1);
}

.fade.modal.in .modal-dialog{
    opacity: 1;
    transform: scale(1);
}
.pagination-content {
    text-align: center;
    margin-bottom: 15px;
}
span.page-count {
    margin: 0 10px;
}
ul.pagination {
    margin: 10px 10px;
    vertical-align: middle;
}
span.page-size {
    margin: 0 10px;
}
table.detail-view th{
    width:50%;
}
#model-interaction{
    display: none;
}
span#all-collapse-on, span#all-collapse-off {
    cursor: pointer!important;
}


button#load-role-permission {
    float: left;
    padding: 4px 20px;
    border-radius: 3px;
}
a#addItems {
    float: right;
}
.admin-permission-container .panel-heading {
    display: inline-block;
    width: 100%;
}
.admin-permission-container .panel-heading h3.panel-title.panel-title-permission {
    float: left;
}
.admin-permission-container .panel-heading .collapse-on-off-btn {
    float: right;
}
button#update-contactInteraction-modelButton {
    padding: 3px 6px;
}
td button {
    padding: 3px 6px!important;
}
button#update-contact-modelButton{
    padding: 4px 6px;
}
.form-group {
    margin-bottom: 5px!important;
}
button#load-form-connect{
        margin-top: -10px;
}
table.table.table-striped.table-bordered .filters {
     display: none;
 }
.admin-search-form-fields .col-sm-4{
    width: 100%;
    padding: 0;
}
.admin-search-form-fields .col-sm-4 input {
    width: 80%;
    display: inline;
}
.admin-search-form-fields .col-lg-9 input {
    width: 80%;
    display: inline;
}
.admin-search-form-fields .col-lg-6 input {
    width: 77%;
    display: inline;
}
.admin-search-form-fields .col-lg-3 select {
    width: 80%;
    display: inline;
}
.admin-search-form-fields .col-sm-4 label{
    padding-right: 10px;
}
.admin-search-form-fields {
    padding: 25px 0px;
    border-top:3px solid #4677ba;
    border-bottom:3px solid #4677ba;
}
.filter-custom-search-btn{
    text-align: right;
}
.admin-grid-toolbar-right .grid-summary p {
    margin: 10px 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
}
label.control-label{
    margin-bottom: 2px;
}
.pull-right.form_action_btn_2>a.btn.btn-danger {
    margin-left: 5px;
}

.contacts-reservations-form .radio, .contacts-reservations-form .checkbox, #add-reservation-modelContent .radio, #add-reservation-modelContent .checkbox{
    margin-right: 13px !important;
    display: inline-block !important;
}
h3.contact-reservation-title {
    text-align: center;
    margin: 15px 0 30px 0;
    color: #4677ba;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -0.5px;
    font-size: 22px;
}
h3.contact-reservation-title:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background: #4677ba;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: -10px;
}

.contacts-reservations-panel{
    position: relative;
}
.contacts-reservations-panel:after{
    height: 100%;
    width: 2px;
    background: #4677ba;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -35px;
    bottom: 0;
    margin: 0px auto;
}
.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0px auto;
    right: 0;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.update_btn button.btn.btn-primary {
    margin: 0px 10px;
}
.newsletter-form-title h3 {
    text-align: center;
    display: block;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "abadi-regular";
}
.sectionRowNew {
    display: block;
    overflow: hidden;
    clear: both;
}
.btn.btn-success.loadButton{
    /*margin-top: 20px;*/
    background: #576167;
}
.newsletter-wrapper input.ibtnDel{

    border-radius: 3px !important;
    padding: 6px 20px;
}
#addrow{
    margin-top: 20px;
}

.news-list, .invest-today-list, .comingsoon-list, .featureresale-list{
    padding: 6px 0px;
    /*border-top: 3px solid #576167;*/
    overflow: hidden;
}
.news-list .btn.btn-success.loadButton, .invest-today-list .btn.btn-success.loadButton, .comingsoon-list .btn.btn-success.loadButton{
    margin-top: 8px;
}
button#CopySubject{
    margin-top: 20px;
}
.status-dropdown{
    border: none;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0px auto;
}
.col-md-2.col-12.developer-grade {
    width: 160px;
}
.col-md-4.col-12.developer-launch-date {
    width: 40%;
}
.col-md-2.col-12.developer-id {
    width: 140px;
}
.user-group .status-dropdown {
    display: inline-block;
    height: 20px;
}
@media only screen and (max-width: 991px){
    .permission-drop-down-role {
        margin-top: 20px;
    }
    #toolbar-new.btn-wrapper {
        float: left;
        margin-top: 3px;
    }
    .admin-grid-toolbar .permission-drop-down-role label {
        width: 100px;
    }
    .cus-nav-link:hover {
        background-color: #4677ba;
    }
    .cus-nav-link:hover a.nav-link {
        color: #fff;
        padding-left: 15px!important;
        transition: 0.5s;
    }
    .menu_header{
        text-align: center!important;
    }
    .dropdown-content{
        position: unset;
        text-align: left;
        background-color: #4677ba;
        margin-bottom: 20px;
        margin-left: 25%;
    }
    .dropdown-content a{
        color:#fff;
    }
    .dropdown-content a li {
        padding-left: 20px;
    }
    .cus-nav-link a.nav-link {
        
        font-size: 16px;
        padding-left: 0px!important;
    }
    .login_content{
        max-width: 300px;
        top:10%;
        padding: 35px 15px;
    }
    ul.main-menu li a{
        padding: 12px 12px;
    }
    nav.cus_navbar ul.navbar-nav > li > a {
        padding: 12px 12px;
        
    }
    footer.footer p:first-child{
        text-align: center;
    }
    footer.footer p:last-child{
        text-align: center;
    }
    .developer-name{
        text-align: left;
        padding: 10px!important;
    }
    .developer-grade{
        text-align: left;
        padding: 10px!important;
    }
    .developer-id{
        text-align: left;
        padding: 10px!important;

    }
     .form_action_btn_2{
        float: left!important;
        margin-top:15px; 
     }
     .filter-custom-search-btn {
        text-align: center;
        margin-top: 15px;
    }        
}

@media only screen and (max-width: 767px){
    .form_action_btn{
        float:left;
    }
    .modal.in .modal-dialog {
        min-width:0px;
    }
    .modal-container {
          padding: 0px 30px;
        }
    .mobile-menu{
        display: block;
    }
    ul.main-menu{
        margin-left: 0px;
        transition:all 0.8s;
        -webkit-transition-duration: 0.8s;
        display: none;
    }
    ul.main-menu.notCollapse{
        margin-left: 0px;
        display: block;
        transition: all 0.8s;
        -webkit-transition-duration: 0.8s;
        opacity: 1;
    }
    ul.main-menu li{
        display: block;
        margin-right: 0px;
    }
    .menu_header{
        display: block;
    }
    .upper .logo{
        text-align: center!important;
    }
    nav.cus_navbar ul.navbar-nav > li > a {
        padding: 12px 40px;
        
    }
    svg.svg-inline--fa.fa-arrow-down.fa-w-14 {
        display: none;
    }
    svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
        display: inline-block;
    }
    .dropdown-submenu ul{
        border-bottom:3px solid #4ac6e9;
    }
    
.dropdown-submenu ul li a {
    padding: 3px!important;
    padding-left: 20px!important;
}
.dropdown-submenu>a:before {
    content: "\f0d7";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
}
    .header_links .dropdown-submenu ul {
        position: static;
        margin-left: 0px;
        padding-left: 0px;
    }
    .header_links .dropdown-submenu:last-child ul {
        margin-bottom: 0px;
    }
    .header_links .dropdown-submenu ul {
        border-top: 1px solid #4ac6e9;
        border-bottom: 1px solid #4ac6e9;
        border-left: none!important;
    }
    .header_links{
        text-align: center;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu li a {
        padding: 5px 55px!important;
    }
    h3.menu_header {
        margin: 20px 0px;
    }
    .header_links>ul {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    ul.main-menu li:hover>ul {
        width: 100%;
    }
    ul.main-menu>li:hover>ul>li:hover>ul{
        top: 45px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}

@media only screen and (max-width: 640px){
    .login_content {
        position: relative;
        max-width: 300px;
        top: 4%;
        padding: 35px 15px;
        margin: 40px auto;
    }
    .footer_wrapper {
        position: relative;
    }
    .admin-grid-toolbar .permission-drop-down-role select {
        margin-right: 100px;
    }
    .admin-grid-toolbar .permission-drop-down-role button {
        margin-left: 0px!important;
        margin-top: 10px;
    }
    .form_action_btn_2 button{
        margin-top:15px; 
     }  
}
@media only screen and (max-width: 471px){

}

a.btn.btn-danger.cancel-btn {
    margin-right: 10px;
}
.developent_create .col-sm-10 {
    width: 100%;
    padding: 0;
}
.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links:hover .single_item{
    border-color: #4ac6e9;
}
.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links:hover .item_text{
    background-color: #4ac6e9;
}
.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links:hover svg{
    background-color: #4ac6e9;
}

.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links .single_item{
    border-color: grey;
}
.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links .item_text{
    background-color: grey;
}
.dashboard_items .col-lg-3.col-md-4.col-sm-6 .change_color.dashboard_links svg{
    background-color: grey;
}
input#developmentscampaigns-budget {
    margin-bottom: -5px;
    width: 50%;
}
.campaigns-wrapper table tbody tr td {
    text-align: center;
}
.tab_section .tab-details {
    max-height: 700px;
    overflow-y: scroll;
}

/* Auto Complete */

/* START: Search Auto Complete */
.form-group-search-auto-complete .fa-search, .form-group-search-auto-complete .fa-spinner {
    position: absolute;
    right: 20px;
    top: 9px;
}
.ui-autocomplete {
    max-height: 200px;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-autocomplete .highlight {
    font-weight: bold;
}
.ui-menu .ui-menu-item-wrapper {
    display: block;
    border: none;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active {
    display: block;
    background: #f0f0f0;
    border: none;
}
#ui-id-1 {
    width: 900px!important;
    text-decoration: none;
}
.registration #ui-id-1 {
    width: 916px!important;
    text-decoration: none;
}
.reservation #ui-id-1 {
    width:349px!important;
    text-decoration: none;
}
.ui-menu .ui-menu-item-wrapper:hover{
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-color: #66afe9;
    overflow-x: hidden;
    margin-top: -1px;
    color: #fff;
    background-color: #337ab7;
}
/* End: Search Auto Complete */

input.select-on-check-all {
    display: none;
}
table.table.table-striped.table-bordered th label {
    color: #337ab7;
    text-decoration: none;
    font-size: 16px;
}

.registration.status td:nth-child(3) {
    text-align: center;
}
.quote_content .author_name {
    color: #fff;
    text-transform: capitalize;
    font-family: "abadi-regular";
    font-size: 23px;
    margin-bottom: 0px;
}
.sp-dd {
    display: none;
}
.form-group.field-formtoolsstyle-back_color,.field-formtoolsstyle-label_color {
    height: 0px;
}
.sp-container {
    top: 760.406px;
    left: 122px;
}

.formtools-form-title h3 {
    text-align: center;
    display: block;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "abadi-regular";
}
.footer-list {
    display: block;
    clear: both;
}

.newsletter-wrapper input.ibtnDel {
    border-radius: 3px !important;
    padding: 6px 20px;
}
.col-md-2.pull-left {
    width: 0;
}
.addevent-list {
    display: block;
    clear: both;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/*Api documentation css*/
.api-doc h3 {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "abadi-regular";
}

h3.assignments-create-title {
    text-align: center;
    margin: 15px 0 30px 50px;
    color: #4677ba;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -0.5px;
    font-size: 22px;
}
h3.assignments-create-title:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background: #4677ba;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: -10px;
}
.assignments-form .form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 27px;
    display: inline-block;
    margin-right: 13px !important;
}
.divider-assignments {
    height: 3px;
    margin: 15px -2px;
    overflow: hidden;
    background-color: #4677ba;
    clear: both;
    display: block;
}
.assignment-details h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.assignments table.table.table-striped.table-bordered th label{
    cursor: pointer;
}
.assignments td:nth-child(9) {
    text-align: center;
}
.assignments td:nth-child(9) label input {
    width: 20px;
    height: 17px;
    cursor: pointer;
}
.assignments .table input[type="checkbox"] {
    width: 20px;
    height: 17px;
    cursor: pointer;
}
span#s2-togall-assignments-sendemail {
    display: none;
}
.event-subhedder span:before {
    content: "\f10d";
    font-size: 16px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    margin-right: 7px;
    position: relative;
    top: -7px;
}

.event-subhedder span:after {
    content: "\f10e";
    font-size: 16px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-left: 7px;
    position: relative;
    bottom: -7px;
}
select.rsvp_status-dropdown {
    border: none;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.possible-tags-span {
    color: #fff;
    background-color: #6c87ab;
    border-color: transparent;
    padding: 6px 20px!important;
    /* border-radius: 7%; */
    border-radius: 4px;
    /* width: 365px; */
    display: inline-block;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    margin-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

div.success {
    text-align: center;
    font-size: 23px;
    color: green;
}

.developers #ui-id-1 {
    width:920px!important;
    text-decoration: none;
}
#possible-tags-success-message{
    color: green;
    background-color: #e5ebf3;
    border-color: transparent;
    padding: 6px 20px;
}
select.media-source-dropdown {
    border: none;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0px auto;
}


#possible_tags_embeded {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

#possible_tags_embeded .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -41px;
    right: 45%;
}

#possible_tags_embeded .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
}

#possible_tags_embeded{
    margin-top: 22px;
}

.redactor-editor {
    height: 145px;
    border: 1px solid #ccc;
}
.assignments .form-group {
    margin-bottom: 9px!important;
}
.form-group.field-assignments-message_body {
    margin-top: 14px;
}
.developments .redactor-editor {
    height: 189px;
    border: 1px solid #ccc;
}
.user .redactor-editor {
    height: 200px;
    border: 1px solid #ccc;
}

.users td:nth-child(7) {
    text-align: center;
}

.users table th label {
    width: 100px;
}

.users .table input[type="checkbox"] {
    width: 20px;
    height: 17px;
    cursor: pointer;
}

span.color-content {
    background-color: #4677ba;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
#match-table_filter input[type="search"]{
    border: solid 1px #ccc !important;
    height: 30px !important;
}
#match-table-rsvp_filter input[type="search"]{
    border: solid 1px #ccc !important;
    height: 30px !important;
}

.dataTables_length select{
    border: solid 1px #ccc !important;
    height: 30px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #4677ba !important;
    background-color: #4677ba !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: #4677ba !important;
}
#match-table_wrapper .paginate_button a.current{
    color: #ffffff !important;
}

#match-table tr td:nth-child(1) {
     display: none;
     border-bottom: 1px solid #111;
 }
#match-table-rsvp tr td:nth-child(1) {
    display: none;
    border-bottom: 1px solid #111;
}
table.dataTable {
    width: 100%!important;
}

div#match-table_filter {
    margin-bottom: 18px;
}
div#match-table-rsvp_filter {
    margin-bottom: 18px;
}
h3.contact-import-tools-title {
    text-align: center;
    margin: 15px 0 30px 0;
    color: #4677ba;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -0.5px;
    font-size: 22px;
}
h3.contact-import-tools-title:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background: #4677ba;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: -10px;
}
.download-import-contact-csv{
    float: right;
    margin-top: 75px;
    position: absolute;
    right: 32px;
}

span.color-content-new-email {
    background-color: #09afec;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
span.color-content-exist-email {
    background-color: #24d06c;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
span.color-content-subs-email {
    background-color: #d02494;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
span.color-content-usubs-email {
    background-color: #9224d0;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
span.color-content-status-pass-email {
    background-color: #bd8e3f;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
span.color-content-status-fail-email {
    background-color: #9d4662;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
