@font-face {
    font-family: 'abadi-regular';
    src: url('../fonts/AbadiMTStd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: 'abadi-bold';
    src: url('../fonts/AbadiMTStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: 'abadi-extraBold';
    src: url('../fonts/AbadiMTStd-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:800;
    font-style: normal;
}
@font-face {
    font-family: 'abadi-light';
    src: url('../fonts/AbadiMTStd-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AbadiMTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AbadiMTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/AbadiMTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AbadiMTStd-Light.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight:300;
    font-style: normal;
}



body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*header area start*/

svg.svg-inline--fa.fa-arrow-down.fa-w-14 {
    margin-left: 5px;
    font-size: 12px;
}
svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
    margin-right: 5px;
    font-size: 12px;
    display: none;
}

.menu_header{
    line-height: 95px;
    padding-top: 5px;
}

.logo img {
    margin: 15px 0;
}

.menu_header{
    display: none;
}
.menu_header,.header_links{
    color:#333333;
    font-family: "abadi-regular";
    font-size: 14px;
}
.content-wrapper {
    min-height: 78vh;
}
.breadcrumb{
    margin-top: 10px;
}
.dropdown-toggle span.caret {
    display: none;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border: none;
    box-shadow: none;
    padding: 0;
}
.navbar-expand-md .navbar-nav .dropdown-menu li a {
    background: #4677ba;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #cac7c7;
    font-family: "abadi-regular";
}
.navbar-expand-md .navbar-nav .dropdown-menu li a:hover{
    background: #4AC6E9;
    color: #fff;
    transition: 0.8s all;

}
.navbar-expand-md .navbar-nav .dropdown-menu li:last-child a{
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}
nav.cus_navbar ul.navbar-nav > li.show.open > a{
    background: #fff;
    color: #337ab7;
}
.header_links ul{
    margin:25px 0px;
    padding: 0;
    display: block;
}
.header_links ul li{
    text-align: right;
    display: inline-block;
    margin-top: 4px;
}
.header_links ul li a{
    background-color: #4677ba;
    color:#fff;
    float: right;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 3px;
}
.header_links ul li a:hover{
    text-decoration: none;
    background-color: #4ac6e9;
    color: #fff;
    transition: 0.3s;
}
.header_links ul li button.btn.btn-link.logout{
    background-color: #4677ba;
    color:#fff;
    float: right;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 3px;
}
.header_links ul li button.btn.btn-link.logout:hover{
    text-decoration: none;
    background-color: #4ac6e9;
    color: #fff;
    transition: 0.3s;
}
.lower{
    background-color: #4677ba;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar.cus_navbar{
    padding: 0px 0px;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    border: none;
}
.navbar.cus_navbar .navbar-header .navbar-brand{
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    transition-timing-function: ease-out;
}
nav.cus_navbar li{
    transition: 0.8s;
}
nav.cus_navbar ul.navbar-nav > li > a{
    padding: 12px 20px;
    color: #fff;
    font-family: "abadi-regular";
    font-size: 18px;
    text-decoration: none;
}
nav.cus_navbar ul.navbar-nav > li > a:hover{
    background-color: #fff;
    transition: 0.8s;    
    color: #4677BA;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4677ba;
    min-width: 190px;
     transition: 0.3s;
     border-top:3px solid #4ac6e9;
     transition-timing-function: ease-out;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1111;
}
.dropdown-content li{
    transition: 0.5s;
}

.dropdown:hover .dropdown-content {
    transition: 0.3s;
    display: block;
    transition-timing-function: ease-out;
    list-style-type: none;
    padding-left: 0px;
     z-index: 1111;
    /*border: 1px solid rgba(9,82,151,0.3);
    border-top:none;*/
}
.dropdown-content a li{
    border-bottom: 1px solid rgba(74,198,233,0.3);
    padding: 5px 0px;
    padding-left: 20px;
    
}


.dropdown-content a{
    color:#fff;
    font-family: "abadi-regular";
    font-size: 16px;
    
    text-decoration: none;
    padding: 5px 0px;
    
    
}
.dropdown-content a:last-child li{
    border-bottom: none;
}
.navbar button svg{
    color:#fff;
}
.navbar button:focus{
    outline:none;
}
.cus-nav-link:hover{
    background-color:#fff; 
}
.cus-nav-link:hover a.nav-link{
    color:#4577B7;
}
.dropdown-content li:hover{
    background-color:#fff; 
}
.dropdown-content a:hover{
    color:#4677ba;
}






/*header area end*/

/*dashboard section start*/

.dashboard_items{
    margin-top: 80px;
    margin-bottom: 40px;
}
.for_items{
    margin-bottom: 40px;
    width: 100%;
}
a.dashboard_links{
    text-decoration: none;
}
a.dashboard_links:hover .single_item{
    border-color:#4677ba;
}
a.dashboard_links:hover svg{
    color:#4677ba;
}
a.dashboard_links:hover .item_text{
    background-color: #4677ba;
}

.item_logo{
    padding: 60px 0px;
}

.single_item{
    border:1px solid #4ac6e9;
    border-radius: 3px;
}
.item_text{
    background-color: #4ac6e9;
}
.item_logo svg {
    font-size: 55px;
    color: #4ac6e9;
}
.item_text h5 {
    color: #fff;
    font-size: 18px;
    font-family: "abadi-light";
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    outline: none;
    letter-spacing: 1.5px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    width: 523px;
}



/*dashboard section end*/



/*quotes section start*/

#quotes{
    background-color: #2c3d50;
}
.quote_content span{
    color:#fff;
    text-transform: capitalize;
    font-family: "abadi-regular";
    font-size: 32px;
    margin-bottom: 0px;
}
.quote_content svg{
    color:#fff;
    font-size: 14px;
}
.quote_content{
    padding: 50px 0px;
}
.quote_content svg .fas-quote-left:before {
    
}
.quote_content svg .fas-quote-right:before {
    
}
.quote_content span:before {
    content: "\f10d";
    font-size: 28px;
    font-family: "FontAwesome";
    margin-right: 15px;
    position: relative;
    top: -10px;
}
.quote_content span:after {
    content: "\f10e";
    font-size: 28px;
    font-family: "FontAwesome";
    margin-left: 15px;
    position: relative;
    bottom: -8px;
}

/*quotes section end*/

footer{
    background-color: #4677ba;
    padding: 15px 0px;
}
footer p{
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
}
a.footer_link{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
}












#index_page{
    
}


.logo_area{
    height: 91.8vh;
    position: relative;
    
}

h1.opstitle {
    position: absolute;
    top:20vh;
    font-size: 48px;
}
.logo_area img {
    margin: 0px auto;
    margin-top: 25px;
    width: 340px;
}
.footer_area{
    background-color: #4677ba;
    padding: 15px 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer_area p{
    color:#fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
}

.footer_area .footer_link{
    color:#fff;
}



.cus_input{
    max-width: 400px;
    margin: 0px auto;
}


.login_form_inner{
    padding: 50px;
    z-index: 11;
    /* background-color: rgba(74,198,233,0.3); */
    position: absolute;
    left: 0;
    right: 0;
    top: 15vh;
    margin: 0px auto;
    border-radius: 3px;
    /*max-width: 400px;*/
    border:1px solid #4ac6e9;
    /*background-color: #fff;*/
    background-color: rgba(74,198,233,1);
    box-shadow: 0 0 18px 2px rgba(0,0,0,.2);
}
.login_form_inner:before {
    position: absolute;
    content: "";
    max-width: 95%;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0px auto;
    height: 100%;
    border-top: 15px solid rgba(74,198,233,0.3);
    border-radius: 3px;

}
.login_form_inner:after {
    position: absolute;
    content: "";
    max-width: 90%;
    left: 0;
    right: 0;
    top: -28px;
    margin: 0px auto;
    height: 27px;
    /* border-top: 15px solid #4ac6e9; */
    border-radius: 3px 3px 0px 0px;
    background-color: rgba(74,198,233,0.3);
}

.input_icon{
    background-color: #fff;
    border-color: rgba(74,198,233,0.7);
    border-right: none;
    box-shadow: none;
}
.input_icon svg{
    color:rgba(74,198,233,1);
}



.login_form{
    font-family: "abadi-light";
}
.cus_input_btn{
    font-family: "abadi-regular";
    font-size: 16px!important;
    color:rgba(74,198,233,1)!important;

}


.cus_input_box{
     border-color: rgba(74,198,233,0.7);
     border-left:none;
}
.cus_input_box:focus{
    outline: none;
    box-shadow: none;
    border-color:  rgba(74,198,233,0.7);
    /*border-color:#4677ba;
    border-left-color: rgba(74,198,233,0.7);*/
}

.cus_input_btn{
    /*background-color: rgba(74,198,233,0.7);*/
    background-color: #fff;
}

.cus_input_btn:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff ;
    color: rgba(74,198,233,1);
}
.cus_input_btn:focus{
    border-color:#4677ba;
}

.login_header{
    height:91.8vh;
    position: relative;
}
.login_footer{
    /*padding: 15px 0px;*/
    z-index: 0;
    position: relative;
}
.login_footer p{
    color: #fff;
    font-size: 14px;
    font-family: "abadi-regular";
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    /*bottom: 13px;*/
    z-index: 1;
    top: 35%;
}



.form_box2{
    position: relative;
}
.form_box2:before {
    position: absolute;
    content: "";
    max-width: 95%;
    left: 0;
    right: 0;
    /* top: 10px; */
    top: 14px;
    margin: 0px auto;
    height: 100%;
    border-top:none;
    border-bottom: 13px solid rgba(74,198,233,0.3);
    border-radius: 3px;
}
.form_box2:after {
    position: absolute;
    content: "";
    max-width: 90%;
    left: 0;
    right: 0;
    top: 264px;
    margin: 0px auto;
    height: 27px;
    /* border-top: 15px solid #4ac6e9; */
    border-radius: 0px 0px 3px 3px;
    background-color: rgba(74,198,233,0.3);
}

.logo_for_login img{
    padding-top: 38px;
}


.form_box3{
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}
.form_box3 .cus_input_btn{
    border:none;
    background-color: rgba(74,198,233,1);
    color: #fff!important;
} 
.login_footer{
    height:8.2vh;
}







/*#slider_section {
    background: url(../img/version_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: "abadi-light";
}
#slider_section:before{
    position: absolute;
    content:"";
    background-color:rgba(70, 119, 186, 0.95);
    width:100%;
    height: 100%;
    left:0;
    right:0;
    bottom: 0px;
    z-index: -1;
}
.login_form_4 .login_form_inner{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top:0;
    margin: 0px auto;
    max-height:500px;
    border-color: #ddd;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    background-color: #fff;
    padding: 35px 20px;
    box-shadow: none;

}


.login_form_4 .login_form_inner:before{
    position: unset;
}
.login_form_4 .login_form_inner:after{
    position: unset;
}
.login_form_4 .login_form_inner .cus_input_box{
    border:none;
    border-bottom: 1px solid rgba(74,198,233,1);
    border-radius: 0px;
}
.login_form_4 .login_form_inner .cus_input_btn{
    border: none;
    background-color: rgba(74,198,233,1);
    color: #fff!important;
    padding: 25px 0px;
    line-height: 2px;

} 
.login_page_footer{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0px;
}



.login_page_footer p{
    font-family: "abadi-light";
    color:#fff;
    font-size: 16px;
}


.form_logo img{
    margin-bottom: 70px;
}
a.form_links{
    text-decoration: none;
    color:rgba(74,198,233,1);
    font-family: "abadi-regular";
    font-size: 16px;
    padding: 10px;
}
*/

#login_wrapper {
    background: url(../images/version_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: "abadi-light";
}
#login_wrapper:before{
    position: absolute;
    content:"";
    background-color:rgba(70, 119, 186, 0.95);
    width:100%;
    height: 100%;
    left:0;
    right:0;
    bottom: 0px;
    z-index: -1;
}

.login_content{
    max-width: 450px;
    margin: 0px auto;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top:25%;
    border-color: #ddd;
    background-color: #fff;
    box-shadow: none;
    padding: 35px 0px;
    border-radius: 3px;
    font-family: "abadi-light";
}
a.form_links{
    text-decoration: none;
    color:rgba(70,119,186,1);



}
a.form_links:hover{
    color: rgba(74,198,233,1);
}

.login_content .cus_input_btn:before{

}

.login_content .cus_input_btn {
    max-width: 400px;
    margin: 0px auto;
    background-color: rgba(70,119,186,1);
    color: #fff!important;
    margin-bottom: 20px;
    padding: 18px 30px;
    line-height: 4px;
    border: none;
    border-radius: 3px!important;
    width: 100%;
}
.field-loginform-rememberme label {
    text-align: left !important;
    display: block;
    margin-left: 25px;
}
.login_content .cus_input_btn:hover{
    background-color: rgba(74,198,233,1);
}
.footer_wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer_wrapper p{
    color:#fff;
    font-size: 14px;

}
.footer_wrapper a{
    text-decoration: none;
    color:#fff;
}

.site_logo{
    margin-bottom: 45px;
    position: relative;
}

.login_content .cus_input_box{
    border:none;
    border-bottom: 1px solid rgba(70,119,186,1);
    border-radius: 0px;
    margin-bottom: 14px;
    position: relative;
    width: 355px;
}
.login_content p.help-block.help-block-error {
    color: red;
    text-align: left;
}
.cus_input_box:focus{
    border-color: transparent;
}

.cus_input_box::placeholder{
    text-transform: uppercase;
}

span.login_style{
    position: absolute;
    /* background: rebeccapurple; */
    left: 29px;
    height: 100%;
    width: 0;
    border-bottom: 2px solid rgb(74,198,233);
    top: -20px;
    transition: 0.5s;
}

#login_wrapper .form-control:focus + span.login_style{
       position: absolute;
    /* background: rebeccapurple; */
    left: 29px;
    height: 100%;
    width: 85%;
    border-bottom: 2px solid rgb(74,198,233);
    top: -20px;
    transition: 0.5s;

}

#login_wrapper .input_icon {
    background-color: #fff;
    border:none;
    box-shadow: none;
    border-radius: 0px;
}
#login_wrapper .input_icon svg {
    color: rgba(70,119,186,1);
}
#login_wrapper .input_icon svg .form-control:focus{
    color:rgba(74,198,233,1)!important;
}


/*.login_content .cus_input_box:focus + .login_content .cus_input_box:before{
    
    transition: 0.5s;
}*/
/*.login_content .cus_input_box:focus{
    position: relative;
}
.login_content .cus_input_box:focus:after{
    position: absolute;
    content:"";
    left:0;
    height:100%;
    width:100%;
    border-bottom:1px solid red;
}*/

nav.navbar.navbar-expand-md.cus_navbar .navbar-header{
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    margin: 0px auto;
}



.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

input.form-control {
    border-radius: 0px;
}
input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #4677ba;
}



tbody tr td:last-child a:nth-child(1) {
    background-color: #4677bad1;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}
tbody tr td:last-child a:nth-child(1):hover {
    background-color: #4677ba;
}

tbody tr td:last-child a:nth-child(2) {
    background-color: #4ac6e9d1;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

tbody tr td:last-child a:nth-child(2):hover {
    background-color: #4ac6e9;
}

tbody tr td:last-child a:nth-child(3) {
    background-color: #c73f3fd1;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}


tbody tr td:last-child a:nth-child(3):hover {
    background-color: #c73f3f;
}
a.btn {
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #4677ba;
    border-color: #4677ba;
}
a.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}


@media only screen and (max-width: 991px){
    
    .cus-nav-link:hover {
        background-color: #4677ba;
    }
    .cus-nav-link:hover a.nav-link {
        color: #fff;
        padding-left: 15px!important;
        transition: 0.5s;
    }
    .menu_header{
        display: none;
    }
    .dropdown-content{
        position: unset;
        text-align: left;
        background-color: #4677ba;
        margin-bottom: 20px;
        margin-left: 25%;
    }
    .dropdown-content a{
        color:#fff;
    }
    .dropdown-content a li {
        padding-left: 20px;
    }
    .cus-nav-link a.nav-link {
        
        font-size: 16px;
        padding-left: 0px!important;
    }
    .login_content{
        max-width: 300px;
        top:10%;
        padding: 35px 15px;
    }
            
}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){
    svg.svg-inline--fa.fa-arrow-down.fa-w-14 {
        display: none;
    }
    svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
        display: inline-block;
    }
    
}
@media only screen and (max-width: 460px){
    h1.opstitle {
        position: relative;
        top: 0;
        font-size: 33px;
        margin: 40px 0;
    }
    .footer_area {
        position: relative;
    }
}


